.cards {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-items {
  margin-bottom: 24px;
}

@media screen and (min-width: 1024px) {
  .cards-items {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .cards {
    padding: 1rem;
  }
}